// FONTS

$main-font-stack: 'Roboto', sans-serif;
$secondary-font-stack: "Montserrat", sans-serif;
$items-font-stack: "Kaushan Script", cursive;

// COLORS

$primary-white-color: #ffffff;
$primary-nav-hover: #fce38a;
$primary-roze-color: #f38181;
$primary-dark-color: #333333;
$primary-turquoise-color: #95e1d3;
$primary-fonts-color: #999999;
$primary-footer-color: #cccccc;
$team-gradient-color: linear-gradient(0deg,
rgb(252, 227, 138) 0%,
rgb(243, 129, 129) 100%);

// FONTS-SIZE
$font-size-base: 14px;
$font-size-intro: 24px;
$font-size-text: 30px;
$font-size-paragraph: 15px;

$base-line-height: 1.2;
