.site-info {
  @include font-settings($font-size-base, 400);
  font-family: $secondary-font-stack;
  // font-size: $font-size-base;
  line-height: $base-line-height;
  color: $primary-dark-color;

  &__word_red {
    color: $primary-roze-color;
  }
}
