.nav-menu {
  flex-basis: 490px;
  justify-content: space-between;
}

.nav-menu__link {
  text-decoration: none;
  font-size: $font-size-base;
  line-height: 16.8px;
  font-family: $secondary-font-stack;
  font-weight: 400;
  text-transform: uppercase;
  color: $primary-white-color;
  transition: all 0.2s linear;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    color: $primary-nav-hover;
    border-color: $primary-nav-hover;
  }
}

.nav-menu__svg {
  display: block;
  fill: $primary-white-color;
  height: 16px;
  width: 18px;
  line-height: 32px;
  transition: fill 0.2s linear;

  &:hover,
  &:focus {
    fill: $primary-nav-hover;
  }
}
